Backend/Solutions/BE.ModelosIII.Mvc/Content/schemas/screen_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sala">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fila" maxOccurs="17" minOccurs="1">
          <xs:complexType>
            <xs:choice maxOccurs="22" minOccurs="1">
              <xs:element type="xs:integer" name="asiento" maxOccurs="22" minOccurs="0"/>
              <xs:element name="segmento" maxOccurs="22" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:integer" name="desde" use="required"/>
                      <xs:attribute type="xs:integer" name="hasta" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="nombre" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>